.container {
    margin: 0 auto;
    background: #a71d36;
    width: 500px;
    padding: 35px;
    /* height: 360px; */

  }
  
  .App {
    margin: 0 auto;
    background: #a71d36;
    display: flex;
    justify-content: space-around;
  }

  .logo{
      width: 100px;
  }
  .disScreen {
    color: white;
    text-align: end;
    padding-right: 20px;
    font-size: 3rem;
    margin: 0 auto;
    background: black;
    width: 100%;
    height: 70px;
    border-radius: 100px;

}

  /* .Logo {
      text-align: left;
  } */

/* BUTTONS POSITIONING */

  .mainButtons {
      margin: 0 auto;
      width: 45%;
  }

  .numStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }    

   .opStyle {
       display: flex;
       flex-flow: column;
   }

 leftNums {
    width : 22.25%;
  }
  rightNums {
    width : 72.25%;
  }

  /* BUTTONS COLORS */

  .numButton {
    background: #1a438f;
    border-radius: 360px;
    color: white;
    width: 70px;
    height: 70px;
  }
  
  .opButton {
    background: red;
    border-radius: 360px;
    color: white;
    width: 70px;
    height: 70px;

  
  }
  
  .specButton {
    background: purple;
    border-radius: 360px;
    color: white;
    width: 70px;
    height: 70px;
  
  }
  