.container {
    margin: 0 auto;
    background: #a71d36;
    width: 300px;
    height: 500px;
    padding: 35px;
    /* height: 360px; */

  }
 
    /* GRID DISPLAY */
  .App {
    display: grid;
    justify-items: center;
    margin: -20px;
    grid-template-columns: [col-one] 80px [col-two] 80px [col-three]80px [col-four]150px;
    grid-template-rows: [row-one]80px [row-two]80px [row-three]80px [row-four]80px [row-five]80px; 
  }
  /* SPECIALS GRID PLACEMENT */

  .s0 {
    grid-column-start: col-one;
  }
  .s1 {
    grid-column-start: col-two;
  }
  .s2 {
    grid-column-start: col-three;
  }

  /* NUMBERS GRID PLACEMENT */
  .n0 {
    grid-column-start: col-one;
    grid-row-start: row-two;
  }
  .n1 {
    grid-column-start: col-two;
    grid-row-start: row-two;
  }
  .n2{
    grid-column-start: col-three;
    grid-row-start: row-two;
  }
  .n3{
    grid-column-start: col-one;
    grid-row-start: row-three;
  }
  .n4{
    grid-column-start: col-two;
    grid-row-start: row-three;
  }
  .n5{
    grid-column-start: col-three;
    grid-row-start: row-three;
  }
  .n6{
    grid-column-start: col-one;
    grid-row-start: row-four;
  }
  .n7{
    grid-column-start: col-two;
    grid-row-start: row-four;
  }
  .n8{
    grid-column-start: col-three;
    grid-row-start: row-four;
  }
  .n9{
    grid-column-start: col-one;
    grid-row-start: row-five;
    grid-row-end: span 2;
  }
  .n10{
    grid-column-start: col-three;
    grid-row-start: row-five;
  }

  .o4 {
    grid-column-start: col-four;
    grid-row-start: row-five; 
  }
 






  /* BUTTONS POSITIONING */

  .mainButtons {
    width: 60%;
    background: blue;
    justify-content: space-between;
}

.numStyle {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }    

 .opStyle {
     display: flex;
     flex-flow: column;
 }


/* .leftNums {
  width : 100%
}
.rightNums {
  width : 22.25%;
} */



  .logo{
      width: 100px;
  }
  .disScreen {
    color: white;
    text-align: end;
    padding-right: 20px;
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 40px;
    background: black;
    width: 90%;
    height: 70px;
    border-radius: 100px;

}

  /* .Logo {
      text-align: left;
  } */


  /* BUTTONS COLORS */

  .numButton {
    background: #1a438f;
    border-radius: 360px;
    color: white;
    width: 75px;
    height: 70px;
    padding: 10px;
  }
  
  .opButton {
    background: red;
    border-radius: 360px;
    color: white;
    width: 70px;
    height: 70px;

  
  }
  
  .specButton {
    background: purple;
    border-radius: 360px;
    color: white;
    width: 70px;
    height: 70px;
  
  }
  