body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 0 auto;
  background: rgb(192, 16, 16);
  width: 600px;
  height: 360px;
  display: flex;
}

.App {
  margin: 0 auto;
  background: rgb(192, 16, 16);
  width: 600px;
  height: 360px;
  display: flex
}
.numButton {
  background: #1a438f;
  border-radius: 50%;
  width: 100%;
  color: white;
}

.opButton {
  background: red;
  border-radius: 50%;
  width: 50%;
  height: 0rem;
  color: white;

}

.specButton {
  background: purple;
  border-radius: 50px;
  width: 50px;
  color: white;

}

